<key>NSAppTransportSecurity</key>                                                                                                                                                                                                                                       
<dict>                                                                                                                                                                                                                                                                  
      <key>NSAllowsArbitraryLoads</key>                                                                                                                                                                                                                                   
      <true/>                                                                                                                                                                                                                                                             
</dict>   

  <key>NSPhotoLibraryUsageDescription</key>
<string> photos description.</string>

<key>NSCameraUsageDescription</key>
<string>camera description.</string>